.wrapper {
    margin: 40px 0;

    .title {
        font-size: 23px;
        margin-bottom: 16px;
        margin-left: 10px;
        font-weight: bold;
    }

    .list-courses {
        display: flex;
    }
}
