.wrapper {
    .overview {
        display: flex;
        padding-block: 2rem;

        .course-image-wrapper {
            display: flex;
            align-items: center;

            .course-image {
                width: 20rem;
                height: 20rem;
                object-fit: cover;
                border-radius: 0.5rem;
            }
        }

        .course-info {
            flex: 1;
            margin: 0 0 auto 2rem;

            .course-name {
                font-size: 2.5rem;
                font-weight: 700;
                color: var(--main-color);
            }

            .course-author {
                display: flex;
                align-items: center;
                width: 80%;
                border-bottom: 0.1rem solid #7a7a7a21;
                padding-bottom: 1rem;
                margin-bottom: 1rem;

                .author-image {
                    width: 2.5rem;
                    height: 2.5rem;
                    border-radius: 50%;
                    margin-right: 0.8rem;
                }

                .author-name {
                    font-size: 1.3rem;
                    color: #333333e7;
                    font-weight: bold;
                }
            }

            .course-description {
                padding-right: 4rem;
                font-size: 1.4rem;
            }

            .course-rated {
                font-size: 1.4rem;
            }
        }

        .buy-course-wrapper {
            height: inherit;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border-left: 0.1rem solid rgba(122, 122, 122, 0.1294117647);
            padding-left: 30px;

            .course-price {
                font-size: 2.3rem;
                font-weight: bold;
            }

            .button-buy {
                color: #fff;
                background-color: var(--main-color);
                white-space: nowrap;
                font-size: 1.6rem;
                padding: 1.2rem 5rem;
                font-weight: 700;
            }
        }
    }

    .special {
        display: flex;
        justify-content: space-around;
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
        padding: 3rem 0;
        border-radius: 0.5rem;

        .special-item {
            padding: 1rem 3rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            .special-item-title {
                font-size: 1.6rem;
                font-weight: bold;
                display: flex;
                align-items: center;
                margin-bottom: 0.5rem;

                span {
                    margin-left: 0.6rem;
                }
            }

            .special-item-content {
                font-size: 1.6rem;
            }
        }
        .special-item + .special-item {
            border-left: 0.1rem solid #7a7a7a21;
        }
    }

    .curriculum-of-course {
        width: 70%;
        margin-top: 4rem;

        .curriculum-of-course-header {
            font-size: 2.3rem;
        }
        .curriculum-of-course-subheader {
            display: flex;
            justify-content: space-between;

            ul {
                display: flex;
                padding: 0;

                li {
                    margin: 0 0.4rem;
                    font-size: 1.4rem;
                }
            }
            .curriculum-of-course-toggle-btn {
                font-size: 1.6rem;
                color: rgb(240, 81, 35);
                cursor: pointer;
            }
        }

        .curriculum-of-course-curriculum-panel {
            padding: 0;

            .curriculum-of-course-panel {
                border: 0.1rem solid #d1d7dc;
                border-top: none;
                cursor: pointer;

                &:first-child {
                    border-top: 0.1rem solid #d1d7dc;
                }

                .curriculum-of-course-panel-title {
                    background-color: rgb(247, 249, 250);
                    padding: 1.6rem 2.4rem;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .curriculum-of-course-panel-title-float-left {
                        display: flex;
                        align-items: flex-start;
                        position: relative;

                        svg {
                            position: absolute;
                            top: 0.3rem;
                        }

                        h5 {
                            margin-left: 2.5rem;
                            margin-bottom: 0;
                            font-size: 1.6rem;
                        }
                    }

                    .curriculum-of-course-panel-title-float-right {
                        font-size: 1.4rem;
                    }
                }

                .curriculum-of-course-panel-collapse {
                    ul {
                        padding: 0;

                        li {
                            display: flex;
                            justify-content: space-between;
                            padding: 1rem 3rem 1rem 4.8rem;
                            border-top: 0.1rem solid #d1d7dc;

                            .lesson-name {
                                font-size: 1.5rem;
                            }

                            .lesson-time {
                                font-size: 1.2rem;
                            }
                        }
                    }
                }
            }
        }
    }
}
