@import '../../styles/index.scss';

.wrapper {
    .overview {
        display: flex;
        align-items: center;
        padding-block: 20px;

        .course-image {
            width: 200px;
            height: 200px;
            object-fit: cover;
            border-radius: 5px;
        }

        .course-info {
            flex: 1;
            margin: 0 30px auto 20px;
            border-right: 1px solid #7a7a7a21;

            .course-name {
                font-size: 25px;
                font-weight: 700;
                color: $main-color;
            }

            .course-author {
                display: flex;
                align-items: center;
                width: 80%;
                border-bottom: 1px solid #7a7a7a21;
                padding-bottom: 10px;
                margin-bottom: 10px;

                .author-image {
                    width: 25px;
                    height: 25px;
                    border-radius: 50%;
                    margin-right: 8px;
                }

                .author-name {
                    font-size: 13px;
                    color: #333333e7;
                    font-weight: bold;
                }
            }

            .course-description {
                padding-right: 40px;
                font-size: 14px;
            }
        }

        .button-learn {
            background-color: $main-color;
            white-space: nowrap;
            font-size: 16px;
            padding: 12px 50px;
            font-weight: 700;
        }
    }

    .special {
        display: flex;
        justify-content: space-around;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
        padding: 30px 0;
        border-radius: 5px;

        .special-item {
            padding: 10px 30px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            .special-item-title {
                font-weight: bold;
                display: flex;
                align-items: center;
                margin-bottom: 5px;

                span {
                    margin-left: 6px;
                }
            }
        }
        .special-item + .special-item {
            border-left: 1px solid #7a7a7a21;
        }
    }

    .curriculum-of-course {
        width: 70%;
        margin-top: 40px;

        .curriculum-of-course-header {
            font-size: 23px;
        }
        .curriculum-of-course-subheader {
            display: flex;
            justify-content: space-between;

            ul {
                display: flex;
                padding: 0;

                li {
                    margin: 0 4px;
                    font-size: 14px;
                }
            }
            .curriculum-of-course-toggle-btn {
                color: rgb(240, 81, 35);
                cursor: pointer;
            }
        }

        .curriculum-of-course-curriculum-panel {
            padding: 0;

            .curriculum-of-course-panel {
                border: 1px solid #d1d7dc;
                border-top: none;
                cursor: pointer;

                &:first-child {
                    border-top: 1px solid #d1d7dc;
                }

                .curriculum-of-course-panel-title {
                    background-color: rgb(247, 249, 250);
                    padding: 16px 24px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .curriculum-of-course-panel-title-float-left {
                        display: flex;
                        align-items: flex-start;
                        position: relative;

                        svg {
                            position: absolute;
                            top: 3px;
                        }

                        h5 {
                            margin-left: 25px;
                            margin-bottom: 0;
                            font-size: 16px;
                        }
                    }

                    .curriculum-of-course-panel-title-float-right {
                        font-size: 14px;
                    }
                }

                .curriculum-of-course-panel-collapse {
                    // display: none;

                    ul {
                        padding: 0;

                        li {
                            display: flex;
                            justify-content: space-between;
                            padding: 10px 30px 10px 48px;
                            border-top: 1px solid #d1d7dc;
                        }
                    }
                }
            }
        }
    }
}
