.header {
    position: sticky;
    top: 0;
    z-index: 99;
    padding: 1rem 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.1rem solid #1a1a1a1f;
    background-color: #fff;
}

.search-wrapper {
    position: relative;

    .search-input {
        overflow: hidden;
        padding: 0;
        border-radius: 5rem;
        display: flex;
        border: 0.2rem solid #1a1a1a1f;
        align-items: center;
        transition: 0.25s ease;

        input {
            border: none;
            border-radius: 50%;
            outline: none;
            font-size: 1.3rem;
            flex: 1;
            min-width: 30rem;
            padding: 1rem 1.5rem;
            border-right: 0.1rem solid #3333331a;
        }

        .search-button {
            padding: 0rem 1.2rem;
            border: none;
            background-color: transparent;
        }

        &:focus-within {
            border-color: #444;
        }
    }

    .search-result {
        position: absolute;
        background-color: #fff;
        box-shadow: 0 0 0 0.1rem #d1d7dc, 0 0.2rem 0.4rem rgba(0, 0, 0, 0.08), 0 0.4rem 1.2rem rgba(0, 0, 0, 0.08);
        top: 100%;
        z-index: 999999;
        padding-left: 0;
        width: 100%;

        .result-item {
            text-decoration: none;
            color: var(--main-color);
            display: flex;
            align-items: center;
            border-bottom: 0.1rem solid rgba(0, 0, 0, 0.4);
            padding: 0.4rem 0.8rem;

            &:last-child {
                border-bottom: none;
            }

            img {
                width: 3.6rem;
                height: 3.6rem;
                border-radius: 50%;
                margin: 0.2rem 0.8rem;
            }

            .result-item-info {
                flex: 1;

                .result-item-header {
                    font-weight: 700;
                    line-height: 1.2;
                    letter-spacing: 0;
                    font-size: 1.6rem;
                    margin-bottom: 0.3rem;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                }

                .result-item-expand {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;

                    .result-item-author-header {
                        font-weight: 500;
                        line-height: 1.2;
                        letter-spacing: 0;
                        font-size: 1.3rem;
                        letter-spacing: 0.02rem;
                    }

                    .result-item-author-name {
                        font-weight: 400;
                        line-height: 1.4;
                        font-size: 1.3rem;
                    }
                }
            }
        }
    }
}

.user-actions {
    display: flex;
    align-items: center;

    .user-action {
        padding: 0.4rem;
        margin: 0 1.2rem;
        width: 2.4rem;
        height: 2.4rem;
        color: #707070;

        &:hover {
            color: var(--main-color);
        }
    }
}
