@import '../../styles/variables';

.header {
    position: sticky;
    top: 0;
    z-index: 99;
    padding: 10px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #1a1a1a1f;
    background-color: #fff;
}

.search-wrapper {
    padding: 0;
    border-radius: 50px;
    display: flex;
    border: 2px solid #1a1a1a1f;
    align-items: center;
    overflow: hidden;
    transition: 0.25s ease;

    input {
        border: none;
        outline: none;
        font-size: 13px;
        flex: 1;
        min-width: 300px;
        padding: 10px 15px;
        border-right: 1px solid #3333331a;
    }

    .search-button {
        padding: 0px 12px;
        border: none;
        background-color: transparent;
    }

    &:focus-within {
        border-color: #444;
    }
}

.user-actions {
    display: flex;
    align-items: center;

    .user-action {
        padding: 4px;
        margin: 0 12px;
        width: 24px;
        height: 24px;
        color: #707070;

        &:hover {
            color: $main-color;
        }
    }
}

.btn-login {
    margin-right: 10px;
}
